# To create or update a token visit https://envio.dev/app/api-tokens
ENVIO_API_TOKEN="<YOUR-API-TOKEN>"
ENVIO_MAINNET_RPC_URL=
ENVIO_ARBITRUM_RPC_URL=
ENVIO_OPTIMISM_RPC_URL=
ENVIO_BASE_RPC_URL=
ENVIO_POLYGON_RPC_URL=
ENVIO_AVALANCHE_RPC_URL=
ENVIO_BSC_RPC_URL=
ENVIO_BLAST_RPC_URL=
ENVIO_ZORA_RPC_URL=
ENVIO_SONIEUM_RPC_URL=
ENVIO_UNICHAIN_RPC_URL=
ENVIO_INK_RPC_URL=